%p= "You ticket #{@uref} was added successfully and it's waiting for Staff response."
%p Click the link below to view the ticket’s history or update it. You must log in to edit the ticket.
= link_to @url, @url
